/*-- scss:defaults --*/

$font-family-sans-serif: "SF Pro Display", "PingFang TC", sans-serif;
$presentation-heading-font: "'jf-lanyanghei-1.0'", $font-family-sans-serif;
$presentation-font-size-root: 50px;
$presentation-h1-font-size: 1.4em;
$presentation-h2-font-size: 1.3em;
$presentation-h3-font-size: 1.2em;
$presentation-h4-font-size: 1em;

/*-- scss:rules --*/

.reveal .bh {
	// block header
	font-weight: var(--r-heading-font-weight);
	display: inline-block;
	margin-right: 0.5em;
    padding: 0 0.2em;
}

.reveal .invert {
	color: var(--r-background-color);
	background-color: var(--r-main-color);
}

html.print-pdf .reveal .slide-number-pdf {
	font-size: 0.6em;
}

.dim {
	opacity: 0.5;
}

.theorem {
	background-color: $body-bg;
}

ol,
ul {
	padding-left: 0.5em;
}

li li {
	font-size: 0.95em;
}
