@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: "Concourse T4", "PingFang TC", sans-serif;
	color: #303030;
}

.remark-slide-content {
	padding: 1em 2em 1em 2em;
	font-size: 30px;
}

h1,
h2,
h3 {
	font-family: "Yanone Kaffeesatz";
	font-weight: normal;
	margin: 0.3em 0;
}

h4 {
	margin-top: 0.3em;
	margin-bottom: 0;
}

.dim {
	color: rgb(126, 129, 134);
}

caption {
	text-align: left;
}

hr {
	color: #394350;
}

img {
	max-width: 100%;
	max-height: 100vh;
}

table caption::before {
	content: "Table: ";
}

a {
  color: #394350;
}

blockquote {
  font-family: "Optima", "Kaiti TC", cursive;
  border-left: solid 3px #394350;
  padding-left: 1em;
  margin-left: 10px;
}

/* Title slide & inversed color */
.inverse {
	background: #394350;
	color: #fff;
}

.author {
  margin-top: 4em;
}


.reg {
	overflow: scroll;
}

.scale80 {
	font-size: 80%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-family: "Concourse T4";
	text-align: center;
}

.reg table tbody tr, .reg table tbody td {
  height: 1em;
}

.caption {
	display: block;
	font-style: italic;
	font-weight: 500;
	text-align: center;
}

.remark-code,
.remark-inline-code {
	font-size: 12pt;
	font-family: "IBM Plex Mono", monospace;
	font-stretch: condensed;
}

.leftcol70 {
	float: left;
	width: 68%;
	margin-right: 2%;
}

.rightcol30 {
	float: right;
	width: 30%;
}

.leftcol {
	float: left;
	width: 47.5%;
	margin-right: 2.5%;
}

.rightcol {
	float: right;
	width: 47.5%;
	margin-left: 2.5%;
}

.bottomcol {
	clear: both;
}

p {
	line-height: 1.5em;
	margin-top: 0.3em;
	margin-bottom: 0em;
}

ul, ol {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

li {
	margin-top: 0.15em;
	margin-bottom: 0.15em;
}

.red {
	color: #b63a18;
}